@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.form {
  position: absolute;
  top: 25%;
  right: 13%
}

.fibertitle {
  top: 18%;
  right: 13.8%;
}

.colsocials {
  right: 10%;
}


.accordion {
  border-top: 1px solid #ccc;
  margin-top: 1rem;
}

.item {
  border-bottom: 1px solid #ccc;
}

.itemBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
  color: #007bff;
  background-color: transparent;
  border: none;
}

.itemBtn:hover {
  background-color: #f3f3f3;
}

.itemBtnExpanded {
  background-color: #e7e7e7;
}

.itemContent {
  transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemPanel {
  padding: 1rem;
}

.chevron {
  margin-left: auto;
  transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
}

.itemBtnExpanded .chevron {
  transform: rotate(180deg);
}


@media only screen and (max-width: 1775px) {
  .form {
    right: 10%;
  }
  .fibertitle {
    right: 11%;
  }

  .colsocials {
    right: 5%;
  }
  
  .chica {
    left: 20vw
  }
}

@media only screen and (max-width: 1370px) {
  .chica {
    left: 15vw
  }

  .form {
    right: 15px
  }

  .fibertitle {
    right: 32px;
  }

  .colsocials {
    right: 5%;
    flex-direction: row;
    top: 7%;
  }
}

@media only screen and (max-width: 770px) {
  .form {
    top: 16%;
    right: 15px;
  }
  .fibertitle {
    top: 8%;
    right: 30px;
    width: 250px;
  }
}

@media only screen and (max-width: 764px) {
  .form {
    top: 60%;
    right: 15vw
  }
  .fibertitle {
    top: 50%;
    right: 18.5vw;
    width: 250px;
  }
  .colsocials {
    right: 5%;
    flex-direction: column;
    top: 5px;
  }
}

@media only screen and (max-width: 400px) {
  /* generete the .form class as center */
  .form {
    top: 58%;
    right: 50%;
    transform: translateX(50%);
  }
  .fibertitle {
    top: 50%;
    right: 17%;
    width: 250px;
  }
  .colsocials {
    right: 5%;
  }
}

.element-slider {
  border-width: 4px;
  background-color: white;
  border-color: #020CCC;
  padding: 8px 4px;
  border-radius: 15px;
  background-color: #020CCC;
  width: 200px;
}

.element-slider:hover {
  border-width: 4px;
  background-color: white;
  
  transition: background-color 0.3s ease;
  
  * {
    color: #020CCC
  }

  .monthly {
    background-color: #020CCC;
    color: white;
  }

  .priceItem {
    color: white;
  }

  a {
    color: white;
    background-color: #020CCC;

  }
  .icon-img {
   filter: brightness(45%) sepia(100%) hue-rotate(200deg)
  }
}

.slick-prev:before, .slick-next:before {
  color:#020CCC !important;
  opacity: 1 !important;
}